version: '3.8'
services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sportsconnect_php
    volumes:
      - ./:/var/www/html
    networks:
      - sportsconnect

  server:
    image: nginx:alpine
    container_name: sportsconnect_nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - sportsconnect

  db:
    image: mysql:8.0
    container_name: sportsconnect_mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3307:3306"
    networks:
      - sportsconnect

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: sportsconnect_pma
    links:
      - db
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    restart: always
    ports:
      - 8081:80
    networks:
      - sportsconnect

networks:
  sportsconnect:
    driver: bridge

volumes:
  dbdata:
